* {
    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }

  img {
    
    padding:20px;

  }
  
  .body-text {

    font-family: "Montserrat", sans-serif;

    position: relative;

    margin-right: 100px;

  }

  .inv {

    display: none;
  }

  .top-text {
  
    display: flex;
  
    font-family: "Montserrat", sans-serif;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: 50px;
  
  }